APP_ORIGIN=http://localhost:5173
SESSION_SECRET=replace-with-at-least-32-random-bytes
GITHUB_ADMIN_LOGINS=Atr1ck

GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=

GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
GITHUB_APP_INSTALLATION_ID=
GITHUB_REPOSITORY_OWNER=Atr1ck
GITHUB_REPOSITORY_NAME=Atr1ck.github.io
GITHUB_BRANCH=main

VERCEL_API_TOKEN=
VERCEL_PROJECT_ID=
VERCEL_PROJECT_NAME=Atr1ck.github.io
VERCEL_TEAM_ID=
